@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<TicketRewardSystem.ViewModels.TicketViewModel>

<div class="row">
    @*@(Html.Kendo().Grid<TicketRewardSystem.ViewModels.TicketViewModel>()
        .Name("Tickets")
        .DataSource(data => data
            .Ajax()
            .PageSize(10)
            .ServerOperation(true)
            .Read(read => read.Action("ReadTickets", "Home"))
            .Model(model => model.Id(ticket => ticket.TicketId))
        )
        .Sortable()
        .Pageable()
        .Columns(columns =>
            {
                columns.Bound(ticket => ticket.Title).ClientTemplate("<a href='" + Url.Action("Edit", "Home") + ">#= Title#</a>");
                columns.Bound(ticket => ticket.PostedOn);
                columns.Bound(ticket => ticket.PostedBy);
            })
        .ClientDetailTemplateId("client-template")
    )*@

    @(Html.Kendo().Grid(Model)
        .Name("Tickets")
        .DataSource(dataSource => dataSource // Configure the grid data source
            .Server()
            .Model(model => model.Id(ticket => ticket.TicketId))
        )
        .Sortable()
        .Pageable()
        .Columns(columns =>
            {   
                columns.Bound(ticket => ticket.Title).Template(@<text>@Html.ActionLink(item.Title, "Details", new { id = item.TicketId })</text>).Title("Title");
                columns.Bound(ticket => ticket.PostedOn);
                columns.Bound(ticket => ticket.PostedBy);
                columns.Bound(ticket => ticket.Status).Template(@<text>
                    @{
                        var badgeClass = "badge";
                        switch (item.Status)
                        {
                            case TicketRewardSystem.Models.StatusEnum.Open:
                                badgeClass += " badge-success";
                                break;
                            case TicketRewardSystem.Models.StatusEnum.InProgress:
                                badgeClass += " badge-warning";
                                break;
                            case TicketRewardSystem.Models.StatusEnum.Resolved:
                                badgeClass += " badge-info";
                                break;
                            default:
                                break;
                        }
                    }
                    @Html.Label(item.Status.ToString(), new { @class = badgeClass })
                </text>);
            })
        .DetailTemplate(@<text>
            <div><strong>Description</strong>: @item.Description</div>
        </text>)
   )
</div>

<script id="client-template" type="text/x-kendo-template">
    <div>Description: #: Description#</div>
</script>

<script type="text/javascript">
    function rowClick() {

        console.log("aaa");
        var propId = this.select().closest("tr").find("td:eq(0)").text();

        location.href = kendo.format('@(Server.UrlDecode(Url.Action("Details", "Home", new { id = "{0}" })))', propId);
    }
</script>